body {
    margin:0;
    padding:0;
}

.container {
    width: 100%;
}

.barra tr td {
    width: 60mm;    
    height: 295mm;
    background: rgb(29, 29, 29);
}

.barra {
    color: #cfcece;
    text-align: center;
    text-align: left;    
}

.barra h2 {
    margin-top: -100mm;
    margin-left: 6mm;
    color: rgb(117, 117, 117);
    font-family: "Helvetica Neue",Helvetica,Arial; 
}

.barra p {    
    margin-left: 6mm;
    text-align: left; 
    width: 50mm;    
    font-size: 11px;
    font-family: "Helvetica Neue",Helvetica,Arial;
}

.escopo { 
    margin-top: -290mm; 
    margin-left: 70mm;  
    font-size: 24px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: 700;
}

.escopo p { 
    margin-top: 0;
    color: #3d3f27; 
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: 700;
}

.links {
    margin-top: 10mm;
    font-weight: 700;
    margin-left: 6mm;
    font-size: 24px;
    color: rgb(117, 117, 117);
    font-family: "Helvetica Neue",Helvetica,Arial; 
}

.links p {  
    margin-left: 0mm;  
    font-size: 12px;
    color: #cfcece;
    font-family: "Helvetica Neue",Helvetica,Arial; 
}

.whatsapp {
    margin-top: -25mm; 
    margin-left: 160mm;
    font-size: 12px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-weight: 700;
    color: #3d3f27;
}

.whatsapp tr td{
    padding: 6px;
}